<section id="todos">
  <header>
    <h2>Editing "<%= @list_name %>"</h2>
    <ul>    
      <form action='/lists/<%= @list_id %>/delete_list' method='post' class='delete'>
        <button type='submit' class='delete'>Delete List</button>
      </form>
    </ul>
  </header>
</section>

<form action="/lists/<%= params[:id] %>/edit" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter a new name for your list:</label>
    </dt>
    <dd>
      <input name="list_name" value="<%= params[:list_name] || session[:lists][params[:id].to_i][:name] %>" type="text">
    </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/lists/<%= params[:id] %>">Cancel</a>
  </fieldset>
</form>